$colorDark: #000;
$colorLight: #fff;
$widthContent: 1200px;
$gapCard: 32px;
$line: 0.5px solid rgba(255, 255, 255, 0.8);
$fontSize: 16px;

@mixin flexBetween() {
  display: flex;
  justify-content: space-between;
}
@mixin commonStyles() {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
  font-family: Montserrat;
}
