@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.cart-content__input-block {
  position: relative;
  width: 71px;
  height: 51px;
}
.cart-content__input {
  font-family: Poppins, sans-serif;
  display: block;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-weight: 600;
  line-height: 210%;
  letter-spacing: 0;
  padding-right: 24px;
  margin: 0;
  border-radius: 6px;
  background: rgba(247, 246, 246, 1);
  box-sizing: border-box;
  border: none;
  outline: none;
  text-align: center;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}
.cart-content__input::-webkit-outer-spin-button,
.cart-content__input::-webkit-inner-spin-button {
  display: none;
}
.cart-content__input-up,
.cart-content__input-down {
  position: absolute;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: none;
  background: rgba(247, 246, 246, 1);
}
.cart-content__input-up {
  top: 9px;
  right: 14px;
}

.cart-content__input-down {
  bottom: 10px;
  right: 14px;
}
.cart-content__input-arrow:hover path {
  stroke: black;
}
