@import "global";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  color: $colorDark;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  height: 735px;
  background-image: url(../img/bg/header-bg2.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: $fontSize * 4;
  padding-top: $fontSize;
}
.top {
  @include flexBetween();
  align-items: center;
  border-bottom: $line;
  padding-bottom: 14px;
  margin-bottom: $fontSize * 4;
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: $fontSize;
  }
  &-catalog {
    margin-bottom: 127px;
  }
  &--cart {
    margin-bottom: 127px;
  }
  &__heading {
    color: $colorLight;
    font-size: $fontSize * 4;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0;
    width: 792px;
  }
  &__motto {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    line-height: $gapCard;
    letter-spacing: 0;
  }
  &__link {
    color: rgba(255, 255, 255, 1);
    font-size: $fontSize;
    line-height: 24px;
    letter-spacing: 0;
    text-decoration-line: underline;
    &:hover {
      color: rgba(136, 136, 136, 1);
      font-family: Montserrat;
      font-size: $fontSize;
      line-height: 24px;
      letter-spacing: 0;
      text-decoration: none;
    }
  }
}
@keyframes myLogo {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(6deg);
  }

  30% {
    transform: translateX(15px) rotate(-6deg);
  }

  45% {
    transform: translateX(-15px) rotate(3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(-2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(1.2deg);
  }
}
.logo {
  animation: myLogo 2s ease 0s 1 normal forwards;
}
.logo--top path {
  fill: $colorLight;
}
.top__search-form {
  border: 1px solid $colorLight;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0);
  width: 288px;
  height: 44px;
  color: $colorLight;
  font-family: Montserrat;
  font-size: $fontSize;
  font-weight: 400px;
  line-height: 20px;
  letter-spacing: 0;
  outline: none;
  padding: 12px $gapCard;
}
.top__search-form:focus {
  background-color: $colorLight;
  color: $colorDark;
}
/*font-family и font-size в placeholder нужно указать специально*/
.top__search-form::placeholder {
  color: rgba(255, 255, 255, 1);
  line-height: 20px;
  letter-spacing: 0;
  font-size: $fontSize;
  font-family: Montserrat;
}
.top__nav,
.top__nav-item {
  color: $colorLight;
  line-height: 20px;
  letter-spacing: 0;
  display: flex;
  column-gap: $gapCard;
}
.mobile-menu {
  display: none;
}
.main {
  padding-bottom: $fontSize * 4;
}
.for {
  margin-bottom: $fontSize * 4;
}
.for__heading,
.action-box__heading,
.product-box__heading {
  color: rgba(0, 0, 0, 1);
  font-size: $fontSize * 3;
  line-height: 59px;
  letter-spacing: 0;
  font-weight: 600;
  margin-bottom: $gapCard;
}
.for__content {
  display: grid;
  gap: $gapCard;
  grid-template-columns: repeat(12, 1fr);
  color: rgba(255, 255, 255, 1);
  font-size: 34px;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0;
  text-align: center;
}
.for__content * {
  transition: all 0.3s;
  cursor: pointer;
}
.for__content *:hover {
  transform: scale(1.05);
}
.for__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  height: 415px;
}
.for__item-big {
  grid-column: span 6;
  width: 583px;
}
.for__item-small {
  grid-column: span 4;
  width: 378px;
}
.for__item-rest {
  @extend .for__item;
  @extend .for__item-big;
  background-image: url(../img/bg/Rectangle\ 17.jpg);
}
.for__item-sport {
  @extend .for__item;
  @extend .for__item-big;
  background-image: url(../img/bg/Rectangle\ 18.jpg);
}
.for__item-hobby {
  @extend .for__item;
  @extend .for__item-small;
  background-image: url(../img/bg/Rectangle\ 19.jpg);
}
.for__item-kids {
  @extend .for__item;
  @extend .for__item-small;
  background-image: url(../img/bg/Rectangle\ 20.jpg);
}
.for__item-family {
  @extend .for__item;
  @extend .for__item-small;
  background-image: url(../img/bg/Rectangle\ 21.jpg);
}
.action-box {
  margin-bottom: 72px;
}
.action-box__content,
.product-box__content {
  display: flex;
  flex-flow: row wrap;
  gap: 36px $gapCard;
}
.action-box__content * {
  transition: all 0.3s;
}
.action-box__content *:hover {
  transform: scale(1.05);
}
.product-box__content * {
  transition: all 0.3s;
}
.product-box__content *:hover {
  transform: scale(1.05);
}
.action,
.product {
  width: ($widthContent - $gapCard * 2) / 3;
  position: relative;
  cursor: pointer;
}
.in-cart-icon,
.like-icon {
  position: absolute;
  top: 10px;
  cursor: pointer;
}

.in-cart-icon {
  right: 55px;
}

.like-icon {
  right: 12px;
}

.in-cart-icon:hover path {
  fill: $colorDark;
}

.like-icon:hover path {
  fill: $colorDark;
}

.product-box {
  margin-bottom: 40px;
}
.action__img,
.product__img {
  height: 250px;
  width: 378px;
  margin-bottom: 10px;
}
.action__heading,
.product__heading {
  color: $colorDark;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 9px;
}
.action__description,
.product__description {
  color: rgba(136, 136, 136, 1);
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0;
  margin-bottom: 12px;
}
.action__prices,
.product__price {
  display: flex;
  column-gap: 44px;
  color: rgba(5, 5, 5, 1);
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  letter-spacing: 0;
}
.action__prices--last {
  color: rgba(136, 136, 136, 1);
  text-decoration-line: line-through;
}
.link-box {
  color: $colorDark;
  line-height: 24px;
  letter-spacing: 0;
  font-family: Montserrat;
  font-size: $fontSize;
  text-decoration-line: underline;
  cursor: pointer;
  background-color: $colorLight;
}

.link-box:hover {
  color: rgba(136, 136, 136, 1);
  font-family: Montserrat;
  text-decoration: none;
}
.footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background: rgba(247, 246, 246, 1);
  padding-top: $gapCard;
  padding-bottom: 60px;
  a {
    grid-column: span 4;
  }
}

.logo--footer path {
  fill: $colorDark;
}
.footer__content {
  grid-column: span 8;
  display: flex;
  column-gap: 192px;
}
.footer__info {
  @include flexBetween();
  column-gap: 129px;
}
.footer__nav,
.footer__nav-heading,
.footer__nav-menu {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.footer__nav-heading {
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0;
  font-weight: 500;
}
.footer__nav-menu {
  list-style-type: none;
}
.footer__nav-menu a,
.footer__nav a {
  color: rgba(136, 136, 136, 1);
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0;
  font-weight: 500;
}
.footer__icons {
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding-top: 2px;
}
.footer-icon:hover path {
  fill: $colorDark;
}
.footer__form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.footer__form-heading {
  color: rgba(0, 0, 0, 1);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0;
  font-family: Montserrat;
  text-align: center;
  &--mobile {
    display: none;
  }
  &--tablet {
    display: none;
  }
}
.footer__form-input {
  box-sizing: border-box;
  border: 1px solid rgba(196, 196, 196, 1);
  border-radius: $fontSize;
  background: rgba(255, 255, 255, 1);
  width: 260px;
  height: 40px;
  outline: none;
  color: rgba(196, 196, 196, 1);
  padding: 12px 17px;
  @include commonStyles;
  color: $colorDark;
  &::placeholder {
    color: rgba(196, 196, 196, 1);
    @include commonStyles;
  }
}
@keyframes pulseBtn {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }

  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }

  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }

  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }

  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}
.footer__button {
  border-radius: $fontSize;
  background: rgba(222, 215, 215, 0.41);
  width: 260px;
  height: 40px;
  color: rgba(0, 0, 0, 1);
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
  border: none;
  &:hover {
    background-color: $colorDark;
    color: $colorLight;
    animation: pulseBtn 2s ease 1 normal forwards;
  }
}

/*Стили для страницы каталога*/
.header--catalog {
  height: 400px;
  background-image: url(../img/bg/Rectangle\ 29.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: $fontSize * 4;
  padding-top: $fontSize;
}
.top-catalog {
  display: flex;
}
.top-heading-catalog {
  @include flexBetween();
  flex-direction: row;
  padding-bottom: $gapCard;
  align-items: center;
}
.breadcrumbs a {
  color: rgba(0, 0, 0, 1);
  line-height: $gapCard;
  letter-spacing: 0;
}
.breadcrumbs-link {
  list-style-type: none;
  display: flex;
}
.breadcrumbs-link li:not(:last-child) a::after {
  content: "/";
  padding: 0 10px;
}
.select {
  position: relative;
}
.select select {
  width: 288px;
  height: 41px;
  box-sizing: border-box;
  border: 1px solid rgba(196, 196, 196, 1);
  border-radius: 20px;
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat;
  font-size: $fontSize;
  line-height: 20px;
  letter-spacing: 0;
  padding: 10px 14px;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
}
.select::after {
  content: "";
  width: 20px;
  height: 11px;
  position: absolute;
  background-image: url(../img/icons/Polygon\ 1.svg);
  background-repeat: no-repeat;
  top: 15px;
  right: 22px;
  pointer-events: none;
}
.sort-order {
  cursor: pointer;
}
.button-show-more {
  border: none;
  font-family: Montserrat;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  background-color: $colorLight;
  cursor: pointer;
}
/* Стили для стр корзины */
.header--cart {
  height: 400px;
  background-image: url(../img/bg/34343434.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: $fontSize;
  margin-bottom: $fontSize * 4;
}
.order-block {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: space-between;
  margin-bottom: $fontSize * 4;
  gap: $gapCard;
}
.cart-content {
  grid-column: span 8;
}
.cart-content__name {
  @include flexBetween();
  line-height: 20px;
  letter-spacing: 0px;
  color: $colorDark;
  margin-bottom: 14px;
}
.cart-content__item {
  display: flex;
  flex-direction: row;
  column-gap: 31px;
  width: 786px;
  border-top: 0.5px solid rgba(202, 205, 216, 1);
  padding-top: 25px;
  padding-bottom: $gapCard;
  align-items: flex-start;
}
.cart-content__item-left {
  display: flex;
}
.cart-content__item-top {
  width: 173px;
  height: 173px;
}
.cart-content__product {
  @include flexBetween();
  flex-direction: row;
  width: 100%;
}
.cart-content__info {
  width: 276px;
}
.cart-content__info-heading {
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0;
  margin-bottom: 14px;
  display: inline-block;
}
.cart-content__info-description {
  color: rgba(136, 136, 136, 1);
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0;
  margin-bottom: $fontSize;
}
.cart-content__info-price {
  color: rgba(5, 5, 5, 1);
  font-size: $fontSize;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  margin-bottom: 15px;
}
.cart-link {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}
.cart-link__choice {
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  line-height: 210%;
  letter-spacing: 0;
  text-decoration-line: underline;
}
.cart-content__input {
  width: 71px;
  height: 51px;
  border-radius: 6px;
  background: rgba(247, 246, 246, 1);
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-weight: 600;
  line-height: 210%;
  letter-spacing: 0;
  text-align: center;
}
.cart-button {
  display: flex;
  column-gap: 7px;
}
.cart-button__reset,
.cart-button__route {
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 50px;
  width: 200px;
  height: 37px;
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0;
  text-align: center;
  background-color: $colorLight;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cart-button__reset:hover,
.cart-button__route:hover {
  color: $colorLight;
  background-color: $colorDark;
}
.order-form {
  grid-column: span 4;
  height: 556px;
  border-radius: 20px;
  background: rgba(247, 246, 246, 1);
  color: $colorDark;
  padding: 42px 44px;
}

.order-form__heading {
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 35px;
}
.order-form__input {
  border: none;
  outline: none;
  background-color: rgba(247, 246, 246, 1);
  border-bottom: 1px solid rgba(202, 205, 216, 1);
  display: flex;
  width: 288px;
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0;
  margin-bottom: 44px;
}
.order-form__input::placeholder {
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0;
}
.order-form__price {
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: $fontSize * 4;
  margin-bottom: 18px;
}
@keyframes myAnim {
  0%,
  100% {
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px);
  }

  20%,
  40%,
  60% {
    transform: translateY(8px);
  }

  80% {
    transform: translateY(6.4px);
  }

  90% {
    transform: translateY(-6.4px);
  }
}
.order-form__button {
  border: 1px solid rgba(4, 4, 4, 1);
  border-radius: 20px;
  width: 290px;
  height: 41px;
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat;
  font-size: $fontSize;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: $colorDark;
    color: $colorLight;
    animation: myAnim 2s ease 0s 1 normal forwards;
  }
}

.action-box--cart {
  margin-bottom: 0;
}
.link-box--cart {
  display: none;
}
@import "number";
@import "tablet";
@import "mobile";
